
.formContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
}

.gr {
    justify-content: center;
    margin: auto;
}


.submitBtn > Button {
    width: 15%;
}