.productsContainer {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.flexItem {
    flex: 0 0 25em;
    width: 20%;
}

.flexItem + .flexItem {
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.createProductDiv {
    text-align: center;
}
.createProductBtn {
    background-color: rgb(51, 99, 51);
    border: none;
  }