.productsContainer {
    display: flex;
    width: 80%;
    /* background-color: blue; */
    margin: auto;
    justify-content: center;
}

h2 {
    text-align: center;
}

.createProductBtn {
    text-align: center;
}